<div class="sidebar">
  <ul>
    <a routerLink="/dashboard" routerLinkActive="active"><li>Dashboard</li></a>

    <a routerLink="/users/list" routerLinkActive="active"><li>Users</li></a>

    <a routerLink="/groups/list" routerLinkActive="active"><li>Groups</li></a>

    <a routerLink="/requests/list" routerLinkActive="active"
      ><li>Requests</li></a
    >

    <a routerLink="/configs/list" routerLinkActive="active"
      ><li>Configurations</li></a
    >
    <button (click)="logout()"></button>
  </ul>
  <a class="edit-link" (click)="toggleTheme()">
    <i class="edit bi bi-brightness-high-fill"></i>
  </a>
</div>
