<div class="input-switch">
  <div class="label">Status</div>

  <div class="input-field">
    <div
      class="switch btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        [checked]="form.controls['status'].value === 'f'"
        (change)="form.controls['status'].setValue('f')"
      />
      <label id="btn1" class="btn btn-outline-secondary" for="btnradio1">{{
        label1
      }}</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        [checked]="form.controls['status'].value === 't'"
        (change)="form.controls['status'].setValue('t')"
      />
      <label id="btn2" class="btn btn-outline-secondary" for="btnradio2">{{
        label2
      }}</label>
    </div>
  </div>
</div>
