<div class="input-switch">
  <div class="label">{{ label }}</div>

  <div class="input-field">
    <div
      class="switch btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="left-btn btn-check"
        name="{{ name }}"
        id="btnradio{{ id1 }}"
        [checked]="!form.controls[name].value"
        (change)="form.controls[name].setValue(false)"
      />
      <label class="left btn btn-outline-secondary" for="btnradio{{ id1 }}">{{
        label1
      }}</label>

      <input
        type="radio"
        class="right-btn btn-check"
        name="{{ name }}"
        id="btnradio{{ id2 }}"
        [checked]="form.controls[name].value"
        (change)="form.controls[name].setValue(true)"
      />
      <label class="right btn btn-outline-secondary" for="btnradio{{ id2 }}">{{
        label2
      }}</label>
    </div>
  </div>
</div>
