<div id="wrapper">
    <div id="filters">
        <div id="search">
            Search
            <input
                type="text"
                class="form-control textboxsrch"
                id="searchbtn"
            />
        </div>

        <div id="sort">
            Sort by
            <div class="textboxsrt"><i class="bi bi-filter"></i></div>
        </div>
    </div>

    <app-computer
        [computers]="computers"
        (edited)="editComputer($event)"
        (deleted)="deleteComputer($event)"
    ></app-computer>
</div>
