<table id="table" class="table">
    <thead>
        <tr>
            <th scope="col">Name <i class="bi bi-filter"></i></th>
            <th scope="col">Type <i class="bi bi-filter"></i></th>
            <th scope="col">Repeat Period <i class="bi bi-filter"></i></th>
            <th scope="col">Expiration <i class="bi bi-filter"></i></th>
            <th scope="col">Compress <i class="bi bi-filter"></i></th>
            <th scope="col">Retention <i class="bi bi-filter"></i></th>
            <th scope="col">Package size <i class="bi bi-filter"></i></th>
            <th scope="col">Status <i class="bi bi-filter"></i></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let config of configData">
            <tr>
                <td class="value">{{ config.name }}</td>
                <td class="value">{{ config.type }}</td>
                <td class="value">{{ config.repeatPeriod }}</td>
                <td class="value">{{ config.expirationDate }}</td>
                <td class="value">{{ config.compress }}</td>
                <td class="value">{{ config.retention }}</td>
                <td class="value">{{ config.packageSize }}</td>
                <td class="value">{{ config.status }}</td>
                <td>
                    <a routerLink="/configuration/add" class="btn btn-warning"
                        >Edit</a
                    >
                </td>
                <td>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteConfig(config)"
                    >
                        Remove
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
