#table {
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    tbody {
        justify-content: center;
        align-items: center;

        .value {
            text-align: center;
            vertical-align: middle;
        }
    }

    td:not(:first-child) {
        border-left: 2px solid #ddd;
    }

    .mybtnrow {
        border-left: none !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    .btn-danger {
        width: 70%;
    }

    .btn-warning {
        width: 100%;
    }

    .mybtn {
        border-left: 2px solid #ddd;
    }
}
