<table id="table" class="table">
    <thead>
        <tr>
            <th scope="col">Name <i class="bi bi-filter"></i></th>
            <th scope="col">Type <i class="bi bi-filter"></i></th>
            <th scope="col">Repeat Period <i class="bi bi-filter"></i></th>
            <th scope="col">Expiration <i class="bi bi-filter"></i></th>
            <th scope="col">Compress <i class="bi bi-filter"></i></th>
            <th scope="col">Retention <i class="bi bi-filter"></i></th>
            <th scope="col">Package size <i class="bi bi-filter"></i></th>
            <th scope="col">Status <i class="bi bi-filter"></i></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let item of configs">
            <tr>
                <td class="value">{{ item.name }}</td>
                <td class="value">{{ item.type }}</td>
                <td class="value">{{ item.repeatPeriod }}</td>
                <td class="value">{{ item.expirationDate }}</td>
                <td class="value">{{ item.compress }}</td>
                <td class="value">{{ item.retention }}</td>
                <td class="value">{{ item.packageSize }}</td>
                <td class="value">{{ item.status }}</td>
                <td>
                    <a
                        routerLink="/configuration/add"
                        class="btn btn-warning"
                        (click)="edited.emit(item)"
                        >Edit</a
                    >
                </td>
                <td>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleted.emit(item)"
                    >
                        Remove
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
