<form [formGroup]="form">
  <div class="form">
    <app-input-text [form]="form" label="Name" name="name"></app-input-text>

    <div class="input-switch">
      <div class="label">Status</div>

      <div class="field">
        <div
          class="switch btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btnradio1 btn-check"
            name="btnradio"
            id="btnradio1"
            [checked]="form.controls['status'].value === 'f'"
            (change)="form.controls['status'].setValue('f')"
          />
          <label
            id="btn1"
            class="btn1 btn btn-outline-secondary"
            for="btnradio1"
            >Off</label
          >

          <input
            type="radio"
            class="btnradio2 btn-check"
            name="btnradio"
            id="btnradio2"
            [checked]="form.controls['status'].value === 't'"
            (change)="form.controls['status'].setValue('t')"
          />
          <label
            id="btn2"
            class="btn2 btn btn-outline-secondary"
            for="btnradio2"
            >On</label
          >
        </div>
      </div>
    </div>
  </div>

  <app-form-buttons [form]="form" (saved)="save()"></app-form-buttons>
</form>
