<form [formGroup]="form">
  <div class="form">
    <app-input-text [form]="form" label="Name" name="name"></app-input-text>

    <!-- <app-input-text
      [form]="form"
      label="Mac Address"
      name="macAddress"
    ></app-input-text>

    <app-input-text
      [form]="form"
      label="IP Address"
      name="ipAddress"
    ></app-input-text> -->

    <app-input-switch
      [form]="form"
      label1="Off"
      label2="On"
      name="status"
    ></app-input-switch>
  </div>

  <app-form-buttons [form]="form" (saved)="save()"></app-form-buttons>
</form>
