<div id="switch">
    <div id="label">{{ label }}</div>

    <div id="input">
        <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
            id="input-field"
        >
            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio1"
                autocomplete="off"
                checked
            />
            <label class="btn btn-outline-secondary" for="btnradio1">{{
                text_left
            }}</label>

            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio2"
                autocomplete="off"
            />
            <label class="btn btn-outline-secondary" for="btnradio2">{{
                text_right
            }}</label>
        </div>
    </div>
</div>
