<div class="wrapper">
    <table class="table mytable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mac address</th>
                <th>IP Address</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr  class="hoverclass">
                <td>PC 1</td>
                <td>00:00:00:00:00:00</td>
                <td>192.19.61.2</td>
                <td>OFF</td>
            </tr>
            
            <tr class="hoverclass">
                <td>PC1</td>
                <td>00:00:00:00:00:00</td>
                <td>192.19.61.2</td>
                <td>OFF</td>
              </tr>
            <tr  class="hoverclass">
                <td>PC1</td>
                <td>00:00:00:00:00:00</td>
                <td>192.19.61.2</td>
                <td>OFF</td>
            </tr>
            <tr  class="hoverclass">
                <td>PC1</td>
                <td>00:00:00:00:00:00</td>
                <td>192.19.61.2</td>
                <td>OFF</td>
            </tr>
            <tr  class="hoverclass">
                <td>PC1</td>
                <td>00:00:00:00:00:00</td>
                <td>192.19.61.2</td>
                <td>OFF</td>
            </tr>
            <tr  class="hoverclass">
                <td>PC1</td>
                <td>00:00:00:00:00:00</td>
                <td>192.19.61.2</td>
                <td>OFF</td>
            </tr>
            <tr  class="hoverclass">
                <td>PC1</td>
                <td>00:00:00:00:00:00</td>
                <td>192.19.61.2</td>
                <td>OFF</td>
            </tr>
    </table>

    <div class="buttons">
        <button type="button" class="btn btn-danger item" >Deny</button>
        <button type="button" class="btn btn-success item">Accept</button>
    </div>

</div>

