.form {
  border: 2px solid var(--lighter);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;

  .users {
    display: flex;
    margin: 3rem 1rem;

    .label {
      flex: 2;
      height: 2rem;
      font-size: 1.25rem;
      margin-right: 5rem;
    }

    .grid {
      flex: 4;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

      .user {
        margin: 0.25rem;

        .delete {
          font-size: 1.1rem;
        }

        .edit {
          font-size: 1.1rem;
          margin-left: 0.75rem;
          display: inline;
        }
      }
    }
  }

  .add-div {
    display: flex;
    margin: 3rem 1rem;

    .label {
      flex: 2;
      height: 2rem;
      font-size: 1.25rem;
      margin-right: 5rem;
    }

    .add-user {
      flex: 4;

      .add {
        font-size: 1.25rem;
        margin-left: 0.25rem;
      }

      .select {
        margin-left: 0.75rem;
        height: 2rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        background-color: var(--lighter);
        border: 1px solid var(--lightest);
        color: var(--text);
      }
    }
  }
}
