
<div class="Search">
    <div class="text">Search</div>
    <input type="text" class="textbox"/>
</div>

<table class="mytable table">
    <thead>
      <tr>
        <th class="tableLeft">Name <i class="bi bi-filter"></i></th>
        <th class="tableRight">Users <i class="bi bi-filter"></i></th>
        <th class="mybtn"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Record 1</td>
        <td>Record 1</td>
        <td><a routerLink="/configuration/add" class="btn btn-warning">Edit</a></td>
        <td class="mybtnrow"><button type="button" class="btn btn-danger">Remove</button></td>
      </tr>
      <tr>
        <td>Record 2</td>
        <td>Record 2</td>
        <td><a routerLink="/configuration/add" class="btn btn-warning">Edit</a></td>
        <td  class="mybtnrow"><button type="button" class="btn btn-danger">Remove</button></td>
      </tr>
      <tr>
        <td>Record 3</td>
        <td>Record 3</td>
        <td><a routerLink="/configuration/add" class="btn btn-warning">Edit</a></td>
        <td  class="mybtnrow"><button type="button" class="btn btn-danger">Remove</button></td>
      </tr>
    </tbody>
  </table>


    <div class="row ButtonArea">
        <div class="item">
            <a routerLink="/groups/add" class="btn btn-success col ms-auto">Add</a>
        </div>

  </div>
