
<div class="Search">
    <div class="text">Search</div>
    <input type="text" class="textbox"/>
</div>

<table class="mytable table">
    <thead>
      <tr>
        <th class="tableLeft">Name <i class="bi bi-filter"></i></th>
        <th class="tableRight">Users <i class="bi bi-filter"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Record 1</td>
        <td>Record 1</td>
      </tr>
      <tr>
        <td>Record 2</td>
        <td>Record 2</td>
      </tr>
      <tr>
        <td>Record 3</td>
        <td>Record 3</td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row ButtonArea">
        <div class="item">
            <button type="button" class="btn btn-danger col">Remove</button>
        </div>

        <div class="item">
            <a routerLink="/groups/add" class="btn btn-warning col ms-auto">Edit</a>
        </div>

        <div class="item">
            <a routerLink="/groups/add" class="btn btn-success col ms-auto">Add</a>
        </div>
      
    </div>

  </div>
