
<div class="wrapper">

    <div class="form">
        <div class="formLeft">
            <div class="formLeftItem">
                <div class="formLeftItemLabel">Group Name</div>
                <div class="formLeftItemInput">
                    <input type="text" class="form-control">
                    </div>
            </div>

            

            <div class="formLeftItem">
                <a routerLink="">Edit Configuration</a>
            </div>

            <hr>

            <div class="formLeftItem">
                <div class="formLeftItemLabel">Users:</div>
                <div class="formLeftGroupList">
                    <div class="group"><i class="bi bi-x-circle-fill"></i>User 1</div>
                    <div class="group"><i class="bi bi-x-circle-fill"></i>User 2</div>
                </div>
            </div>
        <div class="addNew">Add new</div>
    </div>     
    <div class="formRight">
        <div class="removeUser">Remove Group</div>
    </div>
    </div>
    
    <div class="buttons">
        <button type="button" class="btn btn-danger item" routerLink="/groups">Cancel</button>
        <button type="button" class="btn btn-success item" routerLink="/groups">Save</button>
    </div>
</div>