#computer {
    display: flex;
    justify-content: space-between;

    background-color: #f1f1f1;

    margin: 2rem 4rem;
    padding: 1rem;
    line-height: 2.25rem;

    border: 3px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    #left {
        flex: 5;

        #name {
            font-size: 1.25rem;
            font-weight: bold;
        }

        div {
            label {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }

    #right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        #status {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            input {
                width: 3rem;
                height: 1.25rem;
            }

            input:checked {
                background-color: #23c552;
                border-color: #23c552;
            }

            input:not(:checked) {
                background-color: #f84f31;
                border-color: #f84f31;
            }
        }

        a {
            color: black;
        }
    }
}
