<form [formGroup]="form">
  <div class="formLeft">
    <div class="formLeftItem">
      <div class="formLeftItemLabel">Username</div>
      <div class="formLeftItemInput">
        <input
          type="text"
          id="input-text"
          class="form-control"
          formControlName="username"
        />
      </div>
    </div>
    <div class="formLeftItem">
      <div class="formLeftItemLabel">Old Password</div>
      <div class="formLeftItemInput">
        <input type="password" class="form-control" />
      </div>
    </div>
    <div class="formLeftItem">
      <div class="formLeftItemLabel">New Password</div>
      <div class="formLeftItemInput">
        <input type="password" class="form-control" />
      </div>
    </div>
    <div class="formLeftItem">
      <div class="formLeftItemLabel">Repeat Password</div>
      <div class="formLeftItemInput">
        <input type="password" class="form-control" />
      </div>
    </div>

    <div class="formLeftItem">
      <div class="formLeftItemLabel add">
        <a routerLink="/admin">Add new</a>
      </div>
    </div>
  </div>
</form>

<div id="buttons">
  <button type="button" class="btn btn-outline-danger" routerLink="/dashboard">
    Cancel
  </button>
  <button type="button" class="btn btn-outline-success" (click)="save()">
    Save
  </button>
</div>
