<div class="wrapper">
    <div class="Search">
        <div class="srch">Search 
            <input type="text" class="form-control textboxsrch" id="searchbtn">
        </div>
    
        <div class="srt">Sort by
            <div class="textboxsrt"><i class="bi bi-filter"></i></div>
        </div>
    
    </div>
    
    <table class="table">
        <tbody>
            <tr>
                <div class="pclist">
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
                </div>
            </tr>

            <tr>
                <div class="pclist">
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
                </div>
            </tr>

            <tr>
                <div class="pclist">
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="pclist">
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="pclist">
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
    
                    <td>
                        <div class="pc">
                            <div class="pcinfo">
                                <div class="pcheader">
                                    <div class="pcname">PC1 </div>
                                <div class="pcstatus">
                                    <div class="form-check form-switch">
                                    <input class="form-check-input checkboxclass" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                </div>
                                 <div class="pcdesc">MAC : 00:00:00:00:00:00</div>
                                 <div class="pcdesc">IP : 198.168.92.1 <a routerLink="/users/info"><i class="bi bi-pencil-square editicon"></i></a></div>
                                 
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
    
    </div>

