<app-search-create
  button="Create Config"
  link="/configs/create"
></app-search-create>

<div class="table-component" *ngIf="configs">
  <div class="header">
    <div>Name</div>
    <div class="center">Type</div>

    <div class="center">
      <i class="bi bi-file-earmark-zip" title="Compress"></i>
    </div>
    <div class="center">
      <i class="bi bi-arrow-repeat" title="Retention"></i>
    </div>
    <div class="center">
      <i class="bi bi-box-seam" title="Package Size"></i>
    </div>

    <div>Repeat Period</div>
    <div class="center">Expiration</div>
  </div>

  <div class="component" *ngFor="let config of configs">
    <div *ngIf="config.status" class="name on">{{ config.name }}</div>
    <div *ngIf="!config.status" class="name off">{{ config.name }}</div>

    <div class="center">{{ config.type }}</div>

    <div class="center">
      <i class="bi bi-check-lg" *ngIf="config.compress"></i>
      <i class="bi bi-x-lg" *ngIf="!config.compress"></i>
    </div>

    <div class="center">{{ config.retention }}</div>
    <div class="center">{{ config.packageSize }}</div>

    <div>{{ getCron(config.repeatPeriod) }}</div>

    <div class="center">
      {{ config.expirationDate | date : "dd.MM.yyyy hh:mm" }}
    </div>

    <div>
      <i
        class="action edit bi bi-pencil-square"
        (click)="edited.emit(config)"
      ></i>
    </div>
    <div>
      <i
        class="action delete bi bi-x-square"
        (click)="deleted.emit(config)"
      ></i>
    </div>
  </div>
</div>
