<div class="wrapper">
    <div class="form">
        <div class="formLeft">
            <div class="formLeftItem">
                <div class="formLeftItemLabel">Username</div>
                <div class="formLeftItemInput">
                    <input type="text" class="form-control">
                </div>
            </div>

            <br>
            <br>

            <div class="formLeftItem">
                <div class="formLeftItemLabel">Password</div>
                <div class="formLeftItemInput">
                    <input type="password" class="form-control">
                </div>
            </div>

            <div class="formLeftItem">
                <div class="formLeftItemLabel">Repeat Password</div>
                <div class="formLeftItemInput">
                    <input type="password" class="form-control">
                </div>
            </div>
        </div>

        <div class="formRight">
            <div class="formRightItem">
                <div class="formRightItemLabel">Email</div>
                <div class="formRightItemInput">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button type="button" class="btn btn-danger item" routerLink="/settings">Cancel</button>
        <button type="button" class="btn btn-success item" routerLink="/settings">Save</button>
    </div>
</div>