<form [formGroup]="form">
  <div class="formRight">
    <h5>Report Settings</h5>

    <div class="formRightItem">
      <div class="formRightItemLabel">Email</div>
      <div id="input-text">
        <input type="text" class="form-control" formControlName="Email" />
      </div>
    </div>

    <div class="formRightItem">
      <div class="formRightItemLabel">Send Reports</div>
      <div class="formRightItemInput">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="btnradio1">Yes</label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio2"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="btnradio2">No</label>
        </div>
      </div>
    </div>

    <div class="formRightItem">
      <div class="formRightChoiceLabel mx-auto">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio2"
            (click)="OnRadioClick(true)"
            id="simpleradio"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-primary" for="simpleradio"
            >Simple</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradio2"
            (click)="OnRadioClick(false)"
            id="advancedradio"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="advancedradio"
            >Advanced</label
          >
        </div>
      </div>
    </div>

    <div class="formRightItem">
      <div class="formRightSpecialInput">
        <div *ngIf="showBasic" class="simple">
          <table class="table">
            <tbody>
              <td>
                <tr>
                  <input
                    type="checkbox"
                    id="Monday"
                    name="Monday"
                    value="false"
                  />
                  <span>Monday</span>
                </tr>
                <tr>
                  <input
                    type="checkbox"
                    id="Tuesday"
                    name="Tuesday"
                    value="false"
                  />
                  <span>Tuesday</span>
                </tr>
                <tr>
                  <input
                    type="checkbox"
                    id="Wednesday"
                    name="Wednesday"
                    value="false"
                  />
                  <span>Wednesday</span>
                </tr>
                <tr>
                  <input
                    type="checkbox"
                    id="Thursday"
                    name="Thursday"
                    value="false"
                  />
                  <span>Thursday</span>
                </tr>
              </td>

              <td>
                <tr>
                  <input
                    type="checkbox"
                    id="Friday"
                    name="Friday"
                    value="false"
                  />
                  <span>Friday</span>
                </tr>
                <tr>
                  <input
                    type="checkbox"
                    id="Saturday"
                    name="Saturday"
                    value="false"
                  />
                  <span>Saturday</span>
                </tr>
                <tr>
                  <input
                    type="checkbox"
                    id="Sunday"
                    name="Sunday"
                    value="false"
                  />
                  <span>Sunday</span>
                </tr>
                <tr>
                  <div class="time">
                    <label>TIME</label
                    ><input
                      type="text"
                      class="form-control"
                      placeholder="18:00"
                    />
                  </div>
                </tr>
              </td>
            </tbody>
          </table>
        </div>

        <div *ngIf="!showBasic" class="advanced">
          <div class="advancedTable">
            <table>
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control" />
                  </td>
                  <td>
                    <input type="text" class="form-control" />
                  </td>
                  <td>
                    <input type="text" class="form-control" />
                  </td>
                  <td>
                    <input type="text" class="form-control" />
                  </td>
                  <td>
                    <input type="text" class="form-control" />
                  </td>
                </tr>
                <tr>
                  <td>minute</td>
                  <td>hour</td>
                  <td>day (month)</td>
                  <td>month</td>
                  <td>day (week)</td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="https://crontab.guru/" style="text-align: center"
            >Click here to see how cron works</a
          >
        </div>
      </div>
    </div>
  </div>
</form>
<div id="buttons">
  <button type="button" class="btn btn-outline-danger" routerLink="/dashboard">
    Cancel
  </button>
  <button type="button" class="btn btn-outline-success" (click)="save()">
    Save
  </button>
</div>
