#form {
  padding: 0.75rem;
  border: 2px solid var(--lighter);
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;

  p {
    margin: 1rem;
    font-size: 1.05rem;
  }

  #input-text {
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem;

    #label {
      flex: 2;
      height: 2rem;
      font-size: 1.1rem;
      margin-right: 5rem;
    }

    #input {
      flex: 8;

      #input-field {
        height: 2rem;
        background-color: var(--lighter);
        border: 1px solid var(--lightest);
        color: var(--text);
      }
    }
  }

  // #users {
  //   display: flex;
  //   align-content: space-between;
  //   justify-content: center;
  //   align-items: start;
  //   margin: 1.5rem 1rem;

  //   #label {
  //     flex: 2;
  //     height: 2rem;
  //     font-size: 1.1rem;
  //     margin-right: 5rem;
  //   }

  //   #grid {
  //     flex: 8;
  //     display: grid;
  //     grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  //     #item {
  //       margin: 0.25rem;

  //       #user {
  //         margin-left: 0.75rem;
  //         display: inline;
  //       }
  //     }
  //   }
  // }

  // #add {
  //   display: flex;
  //   justify-content: start;
  //   align-items: center;
  //   margin: 1.5rem 1rem;

  //   #label {
  //     flex: 2;
  //     height: 2rem;
  //     font-size: 1.1rem;
  //     margin-right: 5.35rem;
  //   }

  //   #add-user {
  //     flex: 8;
  //     display: flex;
  //     justify-content: left;
  //     align-items: center;

  //     #select {
  //       margin-left: 0.75rem;
  //       height: 2rem;
  //       padding: 0.25rem;
  //       border-radius: 0.5rem;
  //       background-color: var(--lighter);
  //       border: 1px solid var(--lightest);
  //       color: var(--text);
  //     }
  //   }
  // }
}

#buttons {
  display: flex;
  justify-content: space-around;

  margin: 3rem;

  button {
    width: 8rem;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 2px solid var(--lightest);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .btn-outline-danger {
    color: var(--danger);
  }

  .btn-outline-danger:hover {
    background-color: var(--danger);
    color: var(--text);
  }

  .btn-outline-success {
    color: var(--success);
  }

  .btn-outline-success:hover {
    background-color: var(--success);
    color: var(--text);
  }
}
