.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4%;

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bi-search {
      font-size: 1.25rem;
      color: var(--text-dark);
      margin-right: 1rem;
    }

    input {
      height: 2rem;
      width: 12.5rem;
      background-color: var(--lighter);
      border: 1px solid var(--lightest);
      color: var(--text);
    }
  }

  .create {
    button {
      width: 10rem;
      height: 2.25rem;
      padding: 0;
      font-size: 1.1rem;
      font-weight: 600;
      border-radius: 0.75rem;
      border: 1px solid var(--lightest);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .btn-outline-success {
      color: var(--success);
    }

    .btn-outline-success:hover {
      background-color: var(--success);
      color: var(--text);
      transition: all 0.2s ease-in-out;
    }
  }
}

.groups {
  border: 2px solid var(--lighter);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .group,
  .header {
    display: grid;
    grid-template-columns: 1fr 2.5fr 0.25fr 0.25fr;
    width: 100%;
    border-bottom: 2px solid var(--lighter);
    line-height: 1.7rem;
  }

  .header {
    div {
      padding: 1.1rem 2rem;
      font-weight: 700;
      font-size: 1.3rem;
      color: var(--text-dark);
    }
  }

  .group {
    div {
      padding: 1.1rem 2rem;
      overflow-wrap: break-word;
      font-size: 1.05rem;
    }

    .name {
      font-size: 1.2rem;
      min-width: 1rem;
      font-weight: 500;
    }

    .computers {
      .computer {
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .action {
      font-size: 1.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    .bi-x-square {
      font-size: 1.35rem;
      -webkit-text-stroke: 0.5px;
    }
  }

  .group:last-child {
    border-bottom: none;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}
