<div class="groups" *ngIf="groups">
  <div class="header">
    <div class="name">Name</div>
    <div class="computers">Computers</div>
  </div>

  <div class="group" *ngFor="let group of groups">
    <div class="name">{{ group.name }}</div>
    <div class="computers">{{ group.pcGroups }}</div>
    <div>
      <i class="edit bi bi-pencil-square" (click)="edited.emit(group)"></i>
    </div>
    <div>
      <i class="delete bi bi-x-square" (click)="deleted.emit(group)"></i>
    </div>
  </div>
</div>
