<div id="wrapper">
    <form action="POST">
        <div id="form">
            <app-input-text label="Name"></app-input-text>
            <app-input-text label="Mac Address"></app-input-text>
            <app-input-text label="IP Address"></app-input-text>
            <app-switch
                label="Status"
                text_left="Off"
                text_right="On"
            ></app-switch>

            <p>
                <a
                    routerLink=""
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >Edit Configuration</a
                >
            </p>
            <hr />
        </div>
        <div id="buttons">
            <button type="button" class="btn btn-danger">Cancel</button>
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </form>
</div>
