.input-number {
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 1rem;

  .label {
    flex: 2;
    height: 2rem;
    font-size: 1.25rem;
    margin-right: 5rem;
  }

  .input {
    flex: 4;
    display: flex;
    justify-content: center;

    .input-field {
      height: 2.25rem;
      width: 5rem;
      font-size: 1.05rem;
      border-radius: 0.75rem;
      background-color: var(--lighter);
      border: 1px solid var(--lightest);
      color: var(--text);
    }
  }
}
