<table class="table table-striped table-hover">
    <thead class="">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Mac Address</th>
            <th scope="col">IP Address</th>
            <th [colSpan]="2"></th>
        </tr>
    </thead>

    <tbody *ngFor="let item of requests" class="">
        <tr *ngIf="item.status == 'q'">
            <td>{{ item.name }}</td>
            <td>{{ item.macAddress }}</td>
            <td>{{ item.ipAddress }}</td>
            <td id="buttons">
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="edited.emit(item)"
                >
                    Accept
                </button>

                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleted.emit(item)"
                >
                    Deny
                </button>
            </td>
        </tr>
    </tbody>
</table>
