.computers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  color: var(--text);

  .computer:hover {
    background-color: var(--darkest);
  }

  .computer {
    display: flex;
    justify-content: space-between;
    background-color: var(--darker);
    margin: 2rem 4rem;
    padding: 1rem;
    line-height: 2.25rem;
    border: 2px solid var(--lighter);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .left {
      flex: 5;

      .name {
        font-size: 1.25rem;
        font-weight: bold;
      }

      div {
        label {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 1.25rem;

      .status {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        input {
          width: 3rem;
          height: 1.25rem;
        }

        input:checked {
          background-color: var(--success);
          border-color: var(--success);
        }

        input:not(:checked) {
          background-color: var(--danger);
          border-color: var(--danger);
        }
      }

      .delete {
        z-index: 1;
      }
    }
  }
}
