<div class="computers">
  <div class="loop" *ngFor="let user of users">
    <div class="computer">
      <!-- <div class="computer" (click)="edited.emit(user)">> -->
      <div class="left">
        <span class="name edit" (click)="edited.emit(user)">{{
          user.name
        }}</span>

        <div class="mac">
          <label for="mac-address">MAC</label>
          <span class="value"> : {{ user.macAddress }}</span>
        </div>

        <div class="ip">
          <label for="ip-address">IP</label>
          <span class="value"> : {{ user.ipAddress }}</span>
        </div>
      </div>

      <div class="right">
        <div class="status form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="switch status-switch"
            disabled
            [checked]="user.status === 't' ? true : false"
          />
        </div>

        <div class="delete-div">
          <i
            (click)="deleted.emit(user); $event.stopPropagation()"
            class="delete bi bi-trash-fill deleteicon"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
