<form [formGroup]="form">
  <div id="form">
    <div id="input-text">
      <div id="label">Name</div>
      <div id="input">
        <input
          type="text"
          id="input-field"
          class="form-control"
          formControlName="name"
        />
      </div>
    </div>

    <div id="input-text">
      <div id="label">MAC Address</div>
      <div id="input">
        <input
          type="text"
          id="input-field"
          class="form-control"
          formControlName="macAddress"
        />
      </div>
    </div>

    <div id="input-text">
      <div id="label">IP Address</div>
      <div id="input">
        <input
          type="text"
          id="input-field"
          class="form-control"
          formControlName="ipAddress"
        />
      </div>
    </div>

    <div id="switch">
      <div id="label">Status</div>

      <div id="input">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
          id="input-field"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio1"
            autocomplete="off"
            [checked]="form.controls['status'].value === 'f'"
            (change)="form.controls['status'].setValue('f')"
          />
          <label class="btn btn-outline-secondary" for="btnradio1">Off</label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio2"
            autocomplete="on"
            [checked]="form.controls['status'].value === 't'"
            (change)="form.controls['status'].setValue('t')"
          />
          <label class="btn btn-outline-secondary" for="btnradio2">On</label>
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <button
      type="button"
      class="btn btn-outline-danger"
      routerLink="/users/list"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-outline-success" (click)="save()">
      Save
    </button>
  </div>
</form>
