.requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--lighter);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.1rem;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--lighter);
    line-height: 1.75rem;

    div {
      flex: 1;
      padding: 1.1rem 2rem;
      font-weight: 700;
      font-size: 1.25rem;
      color: var(--text-dark);
    }

    .name {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .request {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--lighter);
    line-height: 1.75rem;

    div {
      flex: 1;
      padding: 1.1rem 2rem;
    }

    .name {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.45rem;
    }
  }

  .request:hover {
    background-color: var(--lighter);
  }

  .request:last-child {
    border-bottom: none;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}
