<div class="requests" *ngIf="requests">
  <div class="request" *ngFor="let request of requests">
    <div class="name">
      <span class="edit" (click)="edited.emit(request)">{{
        request.name
      }}</span>
    </div>
    <div class="mac">{{ request.macAddress }}</div>
    <div class="ip">{{ request.ipAddress }}</div>

    <div class="buttons">
      <i (click)="approved.emit(request)" class="add bi bi-plus-circle"></i>

      <i (click)="deleted.emit(request)" class="delete bi bi-trash-fill"></i>
    </div>
  </div>
</div>
