<div class="requests" *ngIf="requests">
  <div class="header">
    <div class="name">Name</div>
    <div class="mac">MAC Address</div>
    <div class="ip">IP Address</div>
  </div>

  <div class="request" *ngFor="let request of requests">
    <div class="name">{{ request.name }}</div>
    <div class="mac">{{ request.macAddress }}</div>
    <div class="ip">{{ request.ipAddress }}</div>

    <div>
      <i class="edit bi bi-pencil-square" (click)="edited.emit(request)"></i>
    </div>

    <div>
      <i class="add bi bi-plus-square" (click)="approved.emit(request)"></i>
    </div>

    <div>
      <i class="delete bi bi-x-square" (click)="deleted.emit(request)"></i>
    </div>
  </div>
</div>
