<div class="table-component" *ngIf="requests">
  <div class="header">
    <div class="name">Name</div>
    <div>MAC Address</div>
    <div>IP Address</div>
  </div>

  <div class="component" *ngFor="let request of requests">
    <div class="name">{{ request.name }}</div>
    <div>{{ request.macAddress }}</div>
    <div>{{ request.ipAddress }}</div>

    <div>
      <i class="edit bi bi-pencil-square" (click)="edited.emit(request)"></i>
    </div>

    <div>
      <i class="add bi bi-plus-square" (click)="approved.emit(request)"></i>
    </div>

    <div>
      <i class="delete bi bi-x-square" (click)="deleted.emit(request)"></i>
    </div>
  </div>
</div>
