#sidebar {
  width: 15.5rem;
  height: 100%;
  position: fixed;

  margin-top: 5rem;
  font-size: 1.5rem;

  background-color: var(--darkest);

  a {
    text-decoration: none;
    color: var(--text);
  }

  ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;

    li {
      padding: 1.25rem 2rem;
      border-top: 1px solid var(--lighter);

      a {
        width: 100%;
        height: 100%;
      }
    }

    li:hover {
      background-color: var(--darker);
    }

    a:last-child {
      border-bottom: 1px solid var(--lighter);
    }
  }
}
