<form [formGroup]="form">
  <div class="form">
    <div class="left">
      <app-input-text [form]="form" label="Name" name="name"></app-input-text>

      <app-input-text
        [form]="form"
        label="Expiration Date"
        name="expirationDate"
      ></app-input-text>

      <app-input-button-group [form]="form"></app-input-button-group>

      <app-input-switch
        [form]="form"
        label="Compress"
        label1="Off"
        label2="On"
        id1="4"
        id2="5"
        name="compress"
      ></app-input-switch>

      <app-input-switch
        [form]="form"
        label="Status"
        label1="Off"
        label2="On"
        id1="6"
        id2="7"
        name="status"
      ></app-input-switch>

      <app-input-number
        [form]="form"
        label="Retention"
        name="retention"
      ></app-input-number>

      <app-input-number
        [form]="form"
        label="Package Size"
        name="packageSize"
      ></app-input-number>
    </div>

    <div class="right">
      <app-input-cron [form]="form" name="repeatPeriod"></app-input-cron>
    </div>
  </div>

  <app-form-buttons [form]="form" (saved)="save()"></app-form-buttons>
</form>
