form {
  color: var(--text);

  #form {
    padding: 0.75rem;
    border: 2px solid var(--lighter);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;

    p {
      margin: 1rem;
      font-size: 1.05rem;
    }

    #input-text {
      display: flex;
      align-content: space-between;
      justify-content: center;
      align-items: center;

      margin: 1.5rem 1rem;

      #label {
        flex: 2;

        height: 2rem;
        font-size: 1.1rem;

        margin-right: 5rem;
      }

      #input {
        flex: 4;

        #input-field {
          height: 2rem;
          background-color: var(--lighter);
          border: 1px solid var(--lightest);
          color: var(--text);
        }
      }
    }

    #switch {
      display: flex;
      align-content: space-between;
      justify-content: center;
      align-items: center;

      margin: 1.5rem 1rem;

      #label {
        flex: 2;

        height: 2rem;
        font-size: 1.1rem;

        margin-right: 5rem;
      }

      #input {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: center;

        #input-field {
          .btn-check {
            height: 2rem;
          }

          .btn {
            height: 2rem;
            font-size: 1rem;
            line-height: 1.25rem;
            border: 1px solid var(--lightest);
          }

          #btnradio1:checked + .btn {
            background-color: var(--danger);
          }

          #btnradio2:checked + .btn {
            background-color: var(--success);
          }
        }
      }
    }
  }

  #buttons {
    display: flex;
    justify-content: space-around;

    margin: 3rem;

    button {
      width: 10rem;
      height: 3rem;
      font-size: 1.25rem;
      font-weight: 600;
      border-radius: 0.5rem;
      border: 2px solid var(--lightest);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .btn-outline-danger {
      color: var(--danger);
    }

    .btn-outline-danger:hover {
      background-color: var(--danger);
      color: var(--text);
    }

    .btn-outline-success {
      color: var(--success);
    }

    .btn-outline-success:hover {
      background-color: var(--success);
      color: var(--text);
    }
  }
}
