<form [formGroup]="form">
  <app-input-text
    [form]="form"
    label="Username"
    name="username"
  ></app-input-text>

  <app-input-text
    [form]="form"
    label="Old Password"
    name="old_password"
  ></app-input-text>

  <app-input-text
    [form]="form"
    label="New Password"
    name="new_password"
  ></app-input-text>

  <app-input-text
    [form]="form"
    label="Repeat Password"
    name="rep_password"
  ></app-input-text>

  <div class="add">
    <a routerLink="/admin" class="edit">Add new</a>
  </div>
</form>

<div id="buttons">
  <app-form-buttons [form]="form" (saved)="save()"></app-form-buttons>
</div>
