<form [formGroup]="form">
  <div id="input-text">
    <div id="label">Username</div>
    <div id="input">
      <input
        type="text"
        id="input-field"
        class="form-control"
        formControlName="username"
      />
    </div>
  </div>
  <div id="input-text">
    <div id="label">Old Password</div>
    <div id="input">
      <input type="password" class="form-control" id="input-field" />
    </div>
  </div>
  <div id="input-text">
    <div id="label">New Password</div>
    <div id="input">
      <input type="password" class="form-control" id="input-field" />
    </div>
  </div>
  <div id="input-text">
    <div id="label">Repeat Password</div>
    <div id="input">
      <input type="password" class="form-control" id="input-field" />
    </div>
  </div>

  <div id="input-text">
    <div class="add" id="input">
      <a routerLink="/admin">Add new</a>
    </div>
  </div>
</form>

<div id="buttons">
  <button type="button" class="btn btn-outline-danger" routerLink="/dashboard">
    Cancel
  </button>
  <button type="button" class="btn btn-outline-success" (click)="save()">
    Save
  </button>
</div>
