.form {
  padding: 1rem;
  border: 2px solid var(--lighter);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 40%;
  margin: 7.5% auto;

  .logo-text {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    font-family: "Dongle", sans-serif;
    color: var(--primary);
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin: 3.5rem;

    button {
      width: 8rem;
      height: 3rem;
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 0.75rem;
      border: 2px solid var(--lightest);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .btn-outline-success {
      color: var(--lightest);
    }

    .btn-outline-success:hover {
      background-color: var(--lighter);
      color: var(--text);
    }
  }

  .input-text {
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem;

    .label {
      flex: 2;
      height: 2rem;
      font-size: 1.25rem;
      margin-right: 5rem;
    }

    .input {
      flex: 4;

      .input-field {
        height: 2.25rem;
        border-radius: 0.75rem;
        font-size: 1.05rem;
        background-color: var(--lighter);
        border: 1px solid var(--lightest);
        color: var(--text);
      }
    }
  }
}
