<div class="container">
  <div class="logo">
    <img src="assets/images/logo.png" alt="logo"/>
  </div>
  <div class="wrapper">
    <form>
      <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp">
        </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" [defaultChecked]="true">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onLogin(); navigateToDashboard()">Log in</button>
    </form>
  </div>

</div>
