
<div class="wrapper">

    <div class="form">
        <div class="formLeft">
            <div class="formLeftItem">
                <div class="formLeftItemLabel">PC</div>
                <div class="formLeftItemInput"><a routerLink="/configuration/add/user">Add users</a></div>
            </div>

            <div class="formLeftItem">
                <div class="formLeftItemLabel">Backup Type</div>
                <div class="formLeftItemInput">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{selectedBackupType}}
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" (click)="updateButton('Full')">Full</a></li>
                              <li><a class="dropdown-item" (click)="updateButton('Differencial')">Differencial</a></li>
                              <li><a class="dropdown-item" (click)="updateButton('Incremental')">Incremental</a></li>
                            </ul>
                        </div>
                </div>
            </div>
            <div class="formLeftItem">
                <div class="formLeftItemLabel">Compress</div>
                <div class="formLeftItemInput">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-secondary" for="btnradio1">Yes</label>
                      
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="btnradio2">No</label>
                      </div>
                </div>
                
            </div>

            <div class="formLeftItem">
                <div class="formLeftItemLabel">Retention</div>
                <div class="formLeftItemInput">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="formLeftItem">
                <div class="formLeftItemLabel">Source Path(s)</div>
                <div class="formLeftItemInput">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{selectedPathType}}
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" (click)="updatePathType('Local')">Local</a></li>
                              <li><a class="dropdown-item" (click)="updatePathType('FTP')">FTP</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control txtbox"/>
                </div>
            </div>
        <hr>
        <div class="addNew">Add new</div>
    </div>
    <div class="formRight">
        <div class="formRightItem">
            <div class="formRightChoiceLabel mx-auto">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" (click)="OnRadioClick(true)" id="simpleradio" autocomplete="off" checked >
                    <label class="btn btn-outline-primary" for="simpleradio">Simple</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" (click)="OnRadioClick(false)" id="advancedradio" autocomplete="off" >
                    <label class="btn btn-outline-primary" for="advancedradio">Advanced</label>
                  </div>
            </div>
        </div>
            <div class="formRightItem">
                <div class="formRightSpecialInput">
                    <div *ngIf="showBasic" class="simple">
                        <table class="table">
                            <tbody>
                              <td>
                                <tr><input type="checkbox" id="Monday" name="Monday" value="false">
                                    <span>Monday</span>
                                </tr>
                                <tr><input type="checkbox" id="Tuesday" name="Tuesday" value="false">
                                    <span>Tuesday</span>
                                </tr>
                                <tr><input type="checkbox" id="Wednesday" name="Wednesday" value="false">
                                    <span>Wednesday</span>
                                </tr>
                                <tr><input type="checkbox" id="Thursday" name="Thursday" value="false">
                                    <span>Thursday</span>
                                </tr>
                              </td>
    
                              <td>
                                <tr><input type="checkbox" id="Friday" name="Friday" value="false">
                                    <span>Friday</span>
                                </tr>
                                <tr><input type="checkbox" id="Saturday" name="Saturday" value="false">
                                    <span>Saturday</span>
                                </tr>
                                <tr><input type="checkbox" id="Sunday" name="Sunday" value="false">
                                    <span>Sunday</span>
                                </tr>
                                <tr>
                                    <div class="time">
                                        <label>TIME</label><input type="text" class="form-control" placeholder="18:00"/>
                                    </div>
                                </tr>
                              </td>
                            </tbody>
                          </table>
                </div>
                
                      
  
                  <div *ngIf="!showBasic" class="advanced">
                    <div class="advancedTable">
                        <table>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>minute</td>
                                    <td>hour</td>
                                    <td>day (month)</td>
                                    <td>month</td>
                                    <td>day (week)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="https://crontab.guru/" style="text-align:center;" target="_blank" rel="noopener noreferrer">Click here to see how cron works</a>
                    
                  </div>
                
                

            </div>


           
        </div>
        <div class="formRightItem">
        <div class="formRightChoiceLabel">Destination Path</div>
        </div>
        <div class="formRightItem">
        <div class="formRightItemLabel">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{selectedPathType2}}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="updatePathType2('Local')">Local</a></li>
                  <li><a class="dropdown-item" (click)="updatePathType2('FTP')">FTP</a></li>
                </ul>
            </div>
        </div>  
        <div class="formRightItemInput">
            <input type="text" class="form-control txtbox" placeholder="Path"/>
            </div>  
        </div>
        <div class="formRightItem">
            <div class="formRightIpandPort">
                <div class="formRightItemIP">
                    <input type="text" class="form-control txtbox" placeholder="IP Address"/>
            </div>
            <div class="formRightItemPort">
                <input type="text" class="form-control txtbox" placeholder="Port"/>
            </div>
            </div>
        </div>
        <div class="formRightItem">
            <div class="formRightUserandPass">
                <div class="formRightItemUser">
                    <input type="text" class="form-control txtbox" placeholder="Username"/>
            </div>
            <div class="formRightItemPass">
                <input type="text" class="form-control txtbox" placeholder="Password"/>
            </div>
            </div>
        </div>
        <hr>
        <div class="addNew">Add new</div>
    </div>
    </div>

    <div class="buttons">
        <button type="button" class="btn btn-danger item" routerLink="/configuration">Cancel</button>
        <button type="button" class="btn btn-success item" routerLink="/configuration">Save</button>
    </div>
</div>