/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Open+Sans&display=swap");

html,
body {
  height: 100%;
  margin: 0px;
  font-family: "Open sans", sans-serif;
  background-color: var(--main) !important;
  color: var(--text);
}

:root {
  --main: #171520;
  --darkest: #0a0715;
  --darker: #110d1c;
  --lighter: #26242c;
  --lightest: #4e495b;
  --success: #004F00;
  --danger: #8b0000;
  --text: #c8c8c8;
}
