/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Open+Sans&display=swap");

// scrollbar styling
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--lighter);
}

::-webkit-scrollbar-thumb {
  background-color: var(--darker);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkest);
}

html,
body {
  margin: 0;
  font-family: "Open sans", sans-serif;
  background-color: var(--main) !important;
  color: var(--text) !important;

  // table styling
  .table-component {
    border: 2px solid var(--lighter);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .component,
    .header {
      display: grid;
      width: 100%;
      border-bottom: 2px solid var(--lighter);
      line-height: 1.7rem;
    }

    .header {
      div {
        padding: 1.1rem 2rem;
        font-weight: 700;
        font-size: 1.25rem;
        color: var(--text-dark);
        min-width: 1rem;
      }

      .center {
        text-align: center;
      }
    }

    .component {
      div {
        padding: 1.1rem 2rem;
        overflow-wrap: break-word;
        min-width: 1rem;
        font-size: 1.2rem;
      }

      .center {
        text-align: center;
      }

      .name {
        font-size: 1.25rem;
        font-weight: 500;
      }

      .bi {
        font-size: 1.4rem;
        height: 100%;
      }

      .bi-check-lg,
      .bi-x-lg {
        font-size: 1rem;
      }

      .bi-x-square,
      .bi-plus-square {
        -webkit-text-stroke: 0.5px;
      }
    }

    .component:last-child {
      border-bottom: none;
      border-bottom-left-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }

  // wrapper for all pages
  .wrapper {
    margin: 2.5%;
  }

  // links styling
  a {
    text-decoration: none;
  }

  .delete {
    color: var(--danger);

    &:hover {
      color: var(--danger-dark);
      cursor: pointer;
      transition: all 0.15s ease-in-out;
    }
  }

  .edit {
    color: var(--text);

    &:hover {
      color: var(--text-dark);
      cursor: pointer;
      transition: all 0.15s ease-in-out;
    }
  }

  .add {
    color: var(--success);

    &:hover {
      color: var(--success-dark);
      cursor: pointer;
      transition: all 0.15s ease-in-out;
    }
  }

  .link {
    color: var(--text);
    text-decoration: underline;

    &:hover {
      color: var(--text-dark);
      cursor: pointer;
      transition: all 0.15s ease-in-out;
    }
  }

  // buttons styling
  .btn-outline-success {
    color: var(--success);
  }

  .btn-outline-success:hover {
    background-color: var(--success);
    color: var(--text);
    transition: all 0.15s ease-in-out;
  }
}

// root colors
:root {
  --main: #171520;
  --darkest: #0a0715;
  --darker: #110d1c;
  --lighter: #26242c;
  --lightest: #4e495b;
  --success: #004f00;
  --success-dark: #002f00;
  --danger: #660000;
  --danger-dark: #440000;
  --text: #c8c8c8;
  --text-dark: #6a6a6a;
}

[data-theme="light"] {
  --main: #f5f5f5;
  --darkest: #b5b5b5;
  --darker: #e2e2e2;
  --lighter: #f9f9f9;
  --lightest: #ffffff;
  --success: #009900;
  --success-dark: #005500;
  --danger: #ff0000;
  --danger-dark: #990000;
  --text: #000000;
  --text-dark: #444444;
}
