
<div class="graph">
    <div class="graph-title">Graph Title</div>
    <div class="graph-content">Graph Data</div>
</div>

<div class="Search">
    <div class="from">From 
        <div class="textboxFrom"></div>
    </div>

    <div class="until">Until
        <div class="textboxUntil"></div>
    </div>

</div>

<div class="table">
    <div class="tableLeft">
        <div class="tableLeftTitle">Report Time 
            <i class="bi bi-filter"></i>
        </div>
        <div class="tableLeftContent">Record 1</div>
        <div class="tableLeftContent">Record 2</div>
        <div class="tableLeftContent">Record 3</div>
        <div class="tableLeftContent">Record 4</div>
        <div class="tableLeftContent">Record 5</div>
    </div>
    <div class="tableRight">
        <div class="tableRightTitle">Status 
            <i class="bi bi-filter"></i>
        </div>
        <div class="tableRightContent">Record 1</div>
        <div class="tableRightContent">Record 2</div>
        <div class="tableRightContent">Record 3</div>
        <div class="tableRightContent">Record 4</div>
</div>