#header {
  height: 5rem;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: var(--darkest);
  color: var(--text);
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: var(--text);
  }

  #logo {
    display: flex;
    align-items: center;
    justify-content: left;

    #logo-text {
      font-family: "Dongle", sans-serif;
      font-size: 4.5rem;
      margin: 1.5rem;
    }
  }

  #settings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1.5rem;
    margin-right: 2rem;

    #admin {
      font-size: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }

    #edit {
      font-size: 1.5rem;
    }
  }
}
