<div id="computers">
  <div id="loop" *ngFor="let item of users">
    <div id="computer" *ngIf="item.status != 'q'">
      <div id="left">
        <span id="name">{{ item.name }}</span>

        <div id="mac">
          <label for="mac-address">MAC</label>
          <span class="value"> : {{ item.macAddress }}</span>
        </div>

        <div id="ip">
          <label for="ip-address">IP</label>
          <span class="value"> : {{ item.ipAddress }}</span>
        </div>
      </div>

      <div id="right">
        <div id="status" class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="switch status-switch"
            disabled
            [checked]="item.status === 't' ? true : false"
          />
        </div>

        <div id="delete">
          <a href="/users" (click)="deleted.emit(item)"
            ><i class="bi bi-trash-fill deleteicon"></i
          ></a>
        </div>

        <div id="edit">
          <a routerLink="/users/edit" (click)="edited.emit(item)"
            ><i class="bi bi-pencil-square editicon"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
